
<form method="POST" class="p-10">
<input name="username" placeholder="Username" class="border p-2 mb-2 block">
<input name="password" type="password" placeholder="Password" class="border p-2 mb-2 block">
<button>Register</button>
</form>
