<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/seo') %>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-50 text-gray-900">

  <%- include('../partials/header') %>

  <main class="min-h-screen">
    <%- body %>
  </main>

  <%- include('../partials/footer') %>

</body>
</html>
